<h1>Supervisor For</h1>
<h2>{{ employeeName }}</h2>
<div data-ng-if="northwind.httpState =='inProgress'">
  <h2>In Progress</h2>
</div>
<div data-ng-if="northwind.httpState =='error'">
  <h2>Error</h2>
  <pre>status = {{ northwind.status | json }}</pre>
  <pre>errorInfo = {{ northwind.errorInfo | json }}</pre>
</div>
<div data-ng-if="northwind.httpState =='success'">
  <form novalidate name="form">
    <div data-my-sizer="northwind.canReportTo">
      <ul class="list-unstyled">
        <li>
          <input type="radio" name="radio" data-ng-model="routeParams.supId" data-ng-value="" />
          None
        </li>
        <li data-ng-repeat="item in northwind.canReportTo">
          <input type="radio" name="radio" data-ng-model="routeParams.supId" data-ng-value="item.EmployeeID" />
          {{item.Name}}
        </li>
      </ul>
    </div>

    <div class="form-group">
      <button class="btn btn-success" data-ng-disabled="form.$pristine" data-ng-click="doOK()">
        OK</button>
      <button class="btn btn-primary" data-ng-click="location.path('/employees/load/false')">
        Cancel</button>
    </div>
  </form>
  <pre>routeParams = {{ routeParams | json }}</pre>
  <pre>form = {{ form | json }}</pre>
  <pre>northwind.canReportTo = {{ northwind.canReportTo | json }}</pre>
</div>
