<h1>Employees</h1>
<div data-ng-if="northwind.httpState =='inProgress'">
  <h2>In Progress</h2>
</div>
<div data-ng-if="northwind.httpState =='error'">
  <h2>Error</h2>
  <pre>status = {{ northwind.status | json }}</pre>
  <pre>errorInfo = {{ northwind.errorInfo | json }}</pre>
</div>
<div data-ng-if="northwind.httpState =='success'">
  <div>
    <button class="btn btn-primary" data-ng-click="addNewEmployee()">Add New Employee</button>
    <button class="btn btn-primary" data-ng-disabled="!northwind.selectedEmployee" data-ng-click="editSelectedEmployee()">
      Edit Selected Employee</button>
    <button class="btn btn-primary" data-ng-disabled="!northwind.selectedEmployee" data-ng-click="deleteSelectedEmployee()">
      Delete Selected Employee</button>
    <button class="btn btn-primary" data-ng-disabled="!northwind.selectedEmployee" data-ng-click="viewSelectedEmployeeDetails()">
      View Selected Employee Details</button>
  </div>
  <ul>
    <li data-ng-repeat="employee in northwind.employees | orderBy:'LastName'" data-ng-click="$parent.toggleSelect(employee)"
      data-ng-class="{selected: employee == $parent.northwind.selectedEmployee}">
      [{{$index + 1}}] {{employee.LastName}}, {{employee.FirstName}}
    <dl>
      <dt>Supervisor</dt>
      <dd data-ng-if="employee.Supervisor">{{employee.Supervisor.LastName}}, {{employee.Supervisor.FirstName}}
      </dd>
      <dd data-ng-if="!employee.Supervisor">none</dd>
      <dt>Notes</dt>
      <dd>{{ employee.Notes }}
      </dd>
    </dl>
    </li>
  </ul>
  <pre>employees = {{ northwind.employees | json }}</pre>
</div>
