<h1>Employees</h1>
<div data-ng-if="northwind.httpState =='inProgress'">
  <h1>In Progress</h1>
</div>
<div data-ng-if="northwind.httpState =='error'">
  <h1>Error</h1>
  <pre>status = {{ northwind.status | json }}</pre>
  <pre>errorInfo = {{ northwind.errorInfo | json }}</pre>
</div>
<div data-ng-if="northwind.httpState =='success'">
  <div>
    <button>Add New Employee</button>
    <button data-ng-disabled="!selectedEmployee" data-ng-click="editSelectedEmployee()">Edit Selected Employee</button>
    <button data-ng-disabled="!selectedEmployee" data-ng-click="deleteSelectedEmployee()">Delete Selected Employee</button>
  </div>
  <ul>
    <li data-ng-repeat="employee in northwind.employees | orderBy:'LastName'" data-ng-click="$parent.toggleSelect(employee)" data-ng-class="{selected: employee == $parent.selectedEmployee}">[{{$index + 1}}] {{employee.LastName}}, {{employee.FirstName}}
    <dl>
      <dt>Supervisor</dt>
      <dd data-ng-if="employee.Supervisor">{{employee.Supervisor.LastName}}, {{employee.Supervisor.FirstName}}</dd>
      <dd data-ng-if="!employee.Supervisor">none</dd>
      <dt>Notes</dt>
      <dd>{{ employee.Notes }}
      </dd>
    </dl>
    </li>
  </ul>
  <pre>employees = {{ northwind.employees | json }}</pre>
</div>
