<li data-ng-repeat="employee in northwind.employees | orderBy:'Name'"
  data-ng-class="{selected: employee == northwind.selectedEmployee}" class="list-unstyled">
  <button class="btn btn-danger btn-xs" data-ng-disabled="!employee.CanBeDeleted" data-ng-click="deleteEmployee(employee)">
    <span class="glyphicon glyphicon-remove"></span>
  </button>
  {{employee.Name}}
    <dl>
      <dt>Hire Date</dt>
      <dd data-ng-if="employee.HireDate">{{northwind.getDisplayDate(employee.HireDate)}}
      </dd>
      <dd data-ng-if="!employee.HireDate">unknown</dd>
      <dt>Supervisor</dt>
      <dd data-ng-if="employee.SupervisorName">{{employee.SupervisorName}}
      </dd>
      <dd data-ng-if="!employee.SupervisorName">none</dd>
      <dt>Notes</dt>
      <dd>{{ employee.Notes }}
      </dd>
      <dt>Territories</dt>
      <dd>
        <button class="btn btn-primary btn-xs" data-ng-click="location.path('/territoriesForEmployee/' + employee.EmployeeID)">
          <span class="glyphicon glyphicon-edit"></span>
        </button>
        <select data-ng-model="employee.selectedTerritory" data-ng-options="territory for territory in employee.Territories">
        </select>
      </dd>
    </dl>
</li>
