<h1>{{headerText}}</h1>
<div data-ng-if="northwind.httpState =='success'">
  <form novalidate>
    <div class="form-group">
      <label for="employeeFirstName">First Name</label>
      <input type="text" data-ng-model="employee.FirstName" class="form-control" id="employeeFirstName" placeholder="Enter First Name" required>
    </div>
    <div class="form-group">
      <label for="employeeLastName">Last Name</label>
      <input type="text" data-ng-model="employee.LastName" class="form-control" id="employeeLastName" placeholder="Enter Last Name" required>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" data-ng-click="doOK()">{{okButtonText}}</button>
      <button class="btn btn-primary" data-ng-click="doCancel()">Cancel</button>
    </div>
  </form>
  <pre>employee = {{ employee | json }}</pre>
</div>
<div data-ng-if="northwind.httpState =='inProgress'">
  <h2>In Progress</h2>
</div>
<div data-ng-if="northwind.httpState =='error'">
  <h2>Error</h2>
  <pre>status = {{ northwind.status | json }}</pre>
  <pre>errorInfo = {{ northwind.errorInfo | json }}</pre>
</div>
