<li data-ng-repeat="employee in northwind.employees | orderBy:'LastName'" data-ng-click="northwind.toggleSelect(employee)"
  data-ng-class="{selected: employee == northwind.selectedEmployee}">[{{$index
      + 1}}] {{employee.DisplayName}}
    <dl>
      <dt>Hire Date</dt>
      <dd data-ng-if="employee.HireDate">{{northwind.getDisplayDate(employee.HireDate)}}
      </dd>
      <dd data-ng-if="!employee.HireDate">unknown</dd>
      <dt>Supervisor</dt>
      <dd data-ng-if="employee.Supervisor">{{employee.Supervisor.DisplayName}}
      </dd>
      <dd data-ng-if="!employee.Supervisor">none</dd>
      <dt>Notes</dt>
      <dd>{{ employee.Notes }}
      </dd>
    </dl>
</li>
