<h1>Employees</h1>
<div>
  <button>Add New Employee</button>
  <button data-ng-disabled="!selectedEmployee" data-ng-click="editSelectedEmployee()">Edit Selected Employee</button>
  <button data-ng-disabled="!selectedEmployee" data-ng-click="deleteSelectedEmployee()">Delete Selected Employee</button>
</div>
<ul>
  <li data-ng-repeat="employee in employees | orderBy:'LastName'" data-ng-click="$parent.toggleSelect(employee)" data-ng-class="{selected: employee.isSelected}">[{{$index + 1}}] {{employee.LastName}}, {{employee.FirstName}}
    <dl>
      <dt>Supervisor</dt>
      <dd data-ng-if="employee.Supervisor">{{employee.Supervisor.LastName}}, {{employee.Supervisor.FirstName}}</dd>
      <dd data-ng-if="!employee.Supervisor">none</dd>
      <dt>Notes</dt>
      <dd>{{ employee.Notes }}
      </dd>
    </dl>
  </li>
</ul>
<pre>{{ employees | json }}</pre>
