<h1>{{headerText}}</h1>
<h2>{{ employeeName }}</h2>

<div data-ng-if="northwind.httpState =='success'">
  <form name="form" role="form" novalidate>
    <div class="form-group" data-ng-class="getCssClasses(form.fName)">
      <label class="control-label" for="fName">First Name</label>
      <input type="text" data-ng-disabled="readOnly" data-ng-model="northwind.employee.FirstName"
        class="form-control" id="fName"
        placeholder="Enter First Name" required name="fName" />
      <div data-ng-show="form.fName.$dirty && form.fName.$invalid">
        <span class="help-block" data-ng-show="form.fName.$error.required">First Name is Required.</span>
      </div>
    </div>

    <div class="form-group" data-ng-class="getCssClasses(form.lName)">
      <label class="control-label" for="lName">Last Name</label>
      <input type="text" data-ng-disabled="readOnly" data-ng-model="northwind.employee.LastName"
        class="form-control" id="lName"
        placeholder="Enter Last Name" required name="lName" />
      <div data-ng-show="form.lName.$dirty && form.lName.$invalid">
        <span class="help-block" data-ng-show="form.lName.$error.required">Last Name is Required.</span>
      </div>
    </div>

    <div class="form-group" data-ng-class="getCssClasses(form.courtesyTitle)">
      <label class="control-label" for="courtesyTitle">Title of Courtesy</label>
      <input type="text" data-ng-disabled="readOnly" data-ng-model="northwind.employee.TitleOfCourtesy"
        class="form-control" id="courtesyTitle"
        placeholder="Enter Title of Courtesy" name="courtesyTitle" />
    </div>

    <div class="form-group" data-ng-class="getCssClasses(form.title)">
      <label class="control-label" for="title">Title</label>
      <input type="text" data-ng-disabled="readOnly" data-ng-model="northwind.employee.Title" class="form-control"
        id="title"
        placeholder="Enter Title" name="title" />
    </div>

    <div class="form-group" data-ng-class="getCssClasses(form.hDate)">
      <label class="control-label" for="hDate">Hire Date</label>
      <input type="text" data-ng-disabled="readOnly" data-ng-model="northwind.employee.HireDate"
        class="form-control" id="hDate"
        placeholder="Enter Hire Date (month/day/year)" name="hDate" data-valid-date="" />
      <div data-ng-show="form.hDate.$dirty && form.hDate.$invalid">
        <span class="help-block" data-ng-show="form.hDate.$error.validDate">Date Entered is
          Invalid.</span>
        <span class="help-block" data-ng-show="form.hDate.$error.fullYear">Enter a 4-digit
          Year.</span>
        <span class="help-block" data-ng-show="form.hDate.$error.futureDate">Hire Date Can't
          be in the Future.</span>
      </div>
    </div>

    <div class="form-group" data-ng-class="getCssClasses(form.notes)">
      <label class="control-label" for="notes">Notes</label>
      <textarea data-ng-disabled="readOnly" data-ng-model="northwind.employee.Notes"
        class="form-control" id="notes"
        placeholder="Enter Notes" name="notes" ></textarea>
    </div>

    <div class="form-group">
      <button class="btn btn-success" data-ng-disabled="form.$pristine || form.$invalid" data-ng-click="doOK()">
        {{okButtonText}}</button>
      <button class="btn btn-primary" data-ng-if="!readOnly" data-ng-click="location.path('/employees/load/false')">
        Cancel</button>
    </div>
  </form>
  <pre>routeParams = {{ routeParams | json }}</pre>
  <pre>northwind.employee = {{ northwind.employee | json }}</pre>
</div>

<div data-ng-if="northwind.httpState =='inProgress'">
  <h2>In Progress</h2>
</div>

<div data-ng-if="northwind.httpState =='error'">
  <h2>Error</h2>
  <pre>status = {{ northwind.status | json }}</pre>
  <pre>errorInfo = {{ northwind.errorInfo | json }}</pre>
</div>
